<div [ngClass]="{'loading-overlay': overlay, 'fullscreen': fullScreen, 'inline': !fullScreen}">
  <div class="modern-spinner">
    <div class="ripple-container">
      <div class="ripple ripple1"></div>
      <div class="ripple ripple2"></div>
      <div class="ripple ripple3"></div>
    </div>
    <div class="loading-text">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
    </div>
  </div>
</div>
